.Navigation, .MobileNavigation{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #CFD2CF;
}
.nav-logo{
    border-radius: 50%;
    height: 3.5rem;
}
.nav-menu{
    display: flex;
}
.nav-menu > a{
    margin-left: 30px;
    text-decoration: none;
}

.NavLinks{
    display: flex;
}
.NavLinks > a{
    margin-left: 30px;
    text-decoration: none;
}

.NavBar .MobileNavigation{
    display: none;
}
@media (max-width: 580px){
    .NavBar .MobileNavigation{
        display: flex;
    }
    .NavBar .Navigation{
        display: none;
    }

    .NavBar .MobileNavigation .NavLinks{
        display: flex;
        flex-direction: column;
        right: 0px;
        top: 76px;
        position: absolute;
        width: 100%;
        background-color: #CFD2CF;
        border-top: 2px solid white;

    }
    .NavBar .MobileNavigation .NavLinks .NavLinks-item{
        margin-bottom: 5px;
        padding-left: 50%;
    }
    .GiHamburgerMenu, .AiOutlineClose{
        cursor: pointer;
    }
}

  